# Introduction

So you want to science some data. Where to start? 

The typical steps of a data science workflow are:
![process](imgs/process.png)
-- source: [CS109B - Advanced Topics in Data Science, Harvard](https://canvas.harvard.edu/courses/20101/assignments/syllabus)

Let's **skip** the first step ("Ask an interesting question"), and focus on the rest. How do we get data into Python? How do we explore it? What packages are available for statistics and machine learning? What about visualization?

## Step 1: Getting data

These days, data shows up in a variety of formats:
- Files on disk (e.g. `some_data.csv`, `my_excel_stuff.xlsx`, `some_nested_stuff.json`, `some_picture.png`)
- Structured data in "the cloud" (an API, such as [The New York Times's](https://developer.nytimes.com/))
- Databases (SQL and NoSQL)
- Streaming (Apache Kafka)

In order of frequency, the most common sources of data for me have been:
- Databases (MySQL, PostgreSQL, Vertica)
- `.csv` files
- APIs
- Miscellaneous riff-raff

<hr>

# First (and most important) tool
![pandas-logo](imgs/pandas_logo.png)

[Pandas](https://pandas.pydata.org/), developed by Wes McKinney in the late 2000s, is the Swiss Army knife of data science in Python. With pandas, you can:
- Import data from (almost) any source (files I/O, APIs, SQL databases, HTML tables).
- You can convert typical Python data structures (e.g. `dict`, `list`) into the pandas-native "dataframe" format.
- You can visualize data.
- You can do create/calculate/drop columns, take means and standard deviations, and generally do data cleaning.

Let's use pandas to grab data from some different formats!

> Pandas defines **dataframes** as 2-dimensional arrays of data, i.e. a tabular data format.

> Importing data into pandas (always) follows the same pattern: `pd.read_*(file_source)`. For example, `pd.read_csv('some_csv.csv')`, `pd.read_sql('select * from some_table', sql_connection_object)`

From the [docs](https://pandas.pydata.org/pandas-docs/stable/io.html):
![pandas-io](imgs/pandas_io.png)

### In action: `.csv` 

Data source: [github.com/Crissymbeck](https://github.com/Chrissymbeck/Greek-Life-Demographics)

Found via: [Data is Plural newsletter - 24 Jan 2018 edition](https://tinyletter.com/data-is-plural/letters/data-is-plural-2018-01-24-edition)

In [13]:
import pandas as pd

df = pd.read_csv('data/duke-greek-life.csv')
print(df.shape)
df.head()

(1739, 16)

,Greek Council,Greek Organization,Home City,Home State,Home Country,Latitude of Home City,Longitude of Home City,Free and reduced percentage of High School,Public or Private High School,Domestic or International High School,Boarding/Day High School,Religous High School?,Gender of High School's Students,Tuition of High School,Sports Team,Merit Scholarship
0,None,None,Accokeek,Maryland,United States,38.667617,-77.028309,Data not available,private,Domestic,Day,Episcopal,Co-Ed,36610,None,None
1,None,None,Advance,North Carolina,United States,35.941248,-80.409222,0.34741523,public,Domestic,Day,Unafilliated,Co-Ed,0,Fooball,None
2,None,None,Ajman,NaN,United Arab Emirates,25.509129,55.361907,NaN,private,International,Day,Unafilliated,Co-Ed,13093.46,None,None
3,None,None,Alameda,California,United States,37.609029,-121.899142,0.2268,public,Domestic,Day,Unafilliated,Co-Ed,0,None,None
4,None,None,Albuquerque,New Mexico,United States,35.084103,-106.650985,Data not available,private,Domestic,Day,Unafilliated,Co-Ed,22870,None,None

In [4]:
df['Greek Organization'].value_counts()

None                   1150
Gamma Phi Beta           39
Kappa Alpha Theta        37
Alpha Delta Pi           34
Zeta Tau Alpha           33
Pi Beta Phi              33
Kappa Kappa Gamma        32
Delta Delta Delta        32
Alpha Phi                30
Delta Sigma Phi          29
Sigma Phi Epsilon        27
Pi Kappa Phi             26
Alpha Tau Omega          25
Chi Omega                25
Delta Gamma              25
Delta Tau Delta          24
Pi Kappa Alpha           21
Alpha Epsilon Pi         20
Kappa Alpha Order        20
Sigma Nu                 17
Sigma Alpha Epsilon      16
Kappa Sigma              11
Sigma Chi                11
Chi Psi                  10
Alpha Delta Phi           6
Delta Kappa Epsilon       3
Psi Upsilon               3
Name: Greek Organization, dtype: int64

In [16]:
df['Tuition of High School'] = pd.to_numeric(df['Tuition of High School'], errors='coerce')
df['Tuition of High School'].describe()

count      1691.000000
mean      10544.134425
std       16663.680044
min           0.000000
25%           0.000000
50%           0.000000
75%       20012.500000
max      118660.780000
Name: Tuition of High School, dtype: float64

If your data is coming from an API or a SQL database, you need a couple more tools to get it into pandas.

## Second tool: SQL and `sqlalchemy`

With SQL, you need:
1. a database! :D
2. a query (e.g. `SELECT * FROM SOME_TABLE`)
3. a way to connect Python to the database!

We won't cover (1) and (2) today, but there are lots of ways to do (3). I use the [`sqlalchemy`](https://www.sqlalchemy.org/). But honestly, they're all the same - tomayto, tomahto.

In [27]:
from sqlalchemy import create_engine

sql_connection = engine = create_engine('sqlite:///data/greek.db')
sql_df = pd.read_sql('select * from duke', sql_connection)
sql_df.head()

,index,Greek Council,Greek Organization,Home City,Home State,Home Country,Latitude of Home City,Longitude of Home City,Free and reduced percentage of High School,Public or Private High School,Domestic or International High School,Boarding/Day High School,Religous High School?,Gender of High School's Students,Tuition of High School,Sports Team,Merit Scholarship
0,0,None,None,Accokeek,Maryland,United States,38.667617,-77.028309,Data not available,private,Domestic,Day,Episcopal,Co-Ed,36610.00,None,None
1,1,None,None,Advance,North Carolina,United States,35.941248,-80.409222,0.34741523,public,Domestic,Day,Unafilliated,Co-Ed,0.00,Fooball,None
2,2,None,None,Ajman,None,United Arab Emirates,25.509129,55.361907,None,private,International,Day,Unafilliated,Co-Ed,13093.46,None,None
3,3,None,None,Alameda,California,United States,37.609029,-121.899142,0.2268,public,Domestic,Day,Unafilliated,Co-Ed,0.00,None,None
4,4,None,None,Albuquerque,New Mexico,United States,35.084103,-106.650985,Data not available,private,Domestic,Day,Unafilliated,Co-Ed,22870.00,None,None

### Third tool: APIs and `requests`

- "API" == [Application Programming Interface](https://en.wikipedia.org/wiki/Application_programming_interface) 
- They're a structured way to share data across the web. Many websites will have (1) a user-facing front end and (2) an API. For example: 
    - [The New York Times](https://www.nytimes.com/) and [The New York Times API](https://developer.nytimes.com/)
    - [Weather Underground](https://www.wunderground.com/) and the [Weather Underground API](https://www.wunderground.com/weather/api/).
- Every API is a bit different. Read their docs!
- Some APIs are better documented than others.
- You access the data in an API by making an **HTTP request**.
- It normally sends the data back in `.json` format.

## Recommended resources

#### Python
- [Udacity: Programming Foundations with Python](https://www.udacity.com/course/programming-foundations-with-python--ud036)
- many many many more...

#### Fun/interesting datasets
- [Data is plural](https://tinyletter.com/data-is-plural/archive)

#### `pandas`
- [Data School](https://www.youtube.com/user/dataschool)
- [Chris Albon tutorials](https://chrisalbon.com/#Python)

#### SQL
- [Udacity: Intro to relational databases](https://www.udacity.com/course/intro-to-relational-databases--ud197)

#### scikit-learn
- [scikit-learn tutorials](http://scikit-learn.org/stable/tutorial/index.html)
- YouTube!

#### statsmodels
- [Docs](http://www.statsmodels.org/stable/index.html)
- YouTube!